<h1>Editing Recipe</h1>

<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <%= render 'form' %>
    <%= link_to 'Show', @recipe %> |
    <%= link_to 'Back', recipes_path %>
  </div>
</div>
