<p id="notice"><%= notice %></p>

<div id="container_index">
  <ul>
  <% @recipes.each do |recipe| %>
    <div class="elements">
      <%= link_to recipe_path(recipe) do %>
        <li>
          <div class="frame_01">
            <img src="<%= recipe.recipe_image %>">
          </div>
        </li>
      <% end %>
    </div>
  <% end %>
  </ul>
</div>




<br>
