<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
        <div class="user_one col-md-3 col-sm-3 col-xs-3 ">
          <div class="pro_img">
          <%= profile_img(user) %>
          <%= user.name %>
          </div>
        <%= render 'follow_form', user: user %>
      </div>
  <% end %>
</div>
